.env
env/
__pycache__/
.vscode/
.ipynb_checkpoints/
output/
src/pyautotrader/test/process_long.py
src/pyautotrader/test/process_short.py
src/pyautotrader/data/*.db
*.total.pickle
*.nbconvert.ipynb
src/strategies/B3/WDOL/00.data/strategies/
.idea/






